* {
    font-family: Verdana;
    background-color: black;
    color: white;
}

#main {
    padding-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 40vw;
}

ul {
    list-style-type: none;
}

#results {
    width: 17vw;
    height: 15vh;
    margin-top: 29.5vh;
    letter-spacing: 1px;
}

hr {
    width: 500px;
}

#result1 {
    width: 17vw;
    margin-bottom: 28px;
}

#result2 {
    margin-top: 10px;
    width: 17vw;
    margin-bottom: 28px;
}

#result3 {
    margin-top: 11px;
    margin-bottom: 29px;
    width: 17vw;
}

#result4 {
    margin-bottom: 25px;
    margin-top: 9px;
    width: 17vw;
}

#result5 {
    margin-bottom: 27px;
    margin-top: 13px;
    width: 17vw;
}

#result6 {
    margin-bottom: 28px;
    margin-top: 12px;
    width: 17vw;
}

#result7 {
    margin-bottom: 27px;
    margin-top: 10px;
    width: 17vw;
}

#result8 {
    margin-top: 10px;
    width: 17vw;
}

#rollErrorDiv{
    color: red;
    margin-bottom: 1vw;
}